<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add home insurance</title>
</head>
<body>
<form th:action="@{/add_home}" th:object="${agreement}" method="post">

    <label>
        <input type="hidden" th:field="*{id}"/>
    </label>
    <p th:text="${agreement.id}"></p>

    <label for="sign_date">sign_date</label>
    <input type="date" id="sign_date" th:field="*{sign_date}"/>
    <p th:if="${#fields.hasErrors('sign_date')}" th:errors="*{sign_date}"></p>
    <br>

    <label for="start_date">start_date</label>
    <input type="date" id="start_date" th:field="*{start_date}"/>
    <p th:if="${#fields.hasErrors('start_date')}" th:errors="*{start_date}"></p>
    <br>

    <label for="end_date">end_date</label>
    <input type="date" id="end_date" th:field="*{end_date}"/>
    <p th:if="${#fields.hasErrors('end_date')}" th:errors="*{end_date}"></p>
    <br>

    <label for="insurerId">insurerId</label>
    <input type="number" id="insurerId" th:field="*{insurerId}"/>
    <p th:if="${#fields.hasErrors('insurerId')}" th:errors="*{insurerId}"></p>
    <br>

    <label for="amount">amount</label>
    <input type="number" id="amount" th:field="*{amount}"/>
    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>
    <br>

    <label for="month_payment">month_payment</label>
    <input type="number" id="month_payment" th:field="*{month_payment}"/>
    <p th:if="${#fields.hasErrors('month_payment')}" th:errors="*{month_payment}"></p>
    <br>

    <select name="real_estate_type">
        <option th:each="real_estate_type : ${T(sk.fei.stuba.oop.zadanie3.mvcupdate.enums.Real_estate_type).values()}"
                th:value="${real_estate_type}"
                th:text="${real_estate_type}">
        </option>
    </select>
    <br>

    <label for="street">street</label>
    <input type="text" id="street" th:field="*{address.street}"/>
    <p th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}"></p>
    <br>

    <label for="house_number">house_number</label>
    <input type="text" id="house_number" th:field="*{address.house_number}"/>
    <p th:if="${#fields.hasErrors('address.house_number')}" th:errors="*{address.house_number}"></p>
    <br>

    <label for="city">city</label>
    <input type="text" id="city" th:field="*{address.city}"/>
    <p th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></p>
    <br>

    <label for="post_code">post_code</label>
    <input type="text" id="post_code" th:field="*{address.post_code}"/>
    <p th:if="${#fields.hasErrors('address.post_code')}" th:errors="*{address.post_code}"></p>
    <br>

    <label for="value">value</label>
    <input type="number" id="value" th:field="*{value}"/>
    <p th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></p>
    <br>

    <label for="furniture_value">furniture_value</label>
    <input type="number" id="furniture_value" th:field="*{furniture_value}"/>
    <p th:if="${#fields.hasErrors('furniture_value')}" th:errors="*{furniture_value}"></p>
    <br>



    <input type="submit" value="Submit"/>
</form>

</body>
</html>